<% if @my_games  %>
	<% @my_games.each do |g| %>
		<h4>Игра с <%= g.opponent %><%= g.status %></h4>
	<% end %>
<% else %>
	<h4>У вас еще нет игр</h4>
<% end %>
<h4><%= link_to 'Создать новую игру', new_game_path %></h4>