<script type="text/javascript">
function timer(){
var obj=document.getElementById('timer_inp');
obj.innerHTML--;
    if (obj.innerHTML==0){
        window.location.href = "http://localhost:3000/games/q3"
    } else {
        setTimeout(timer,1000);
    }
}
setTimeout(timer,1000);
</script>
<div>Осталось: <span id="timer_inp">10</span> сек.</div>